<h2>📚 BCA Lectures</h2>

<!-- LOADING -->
<p *ngIf="loading">Loading lectures...</p>

<!-- EMPTY -->
<p *ngIf="!loading && lectures.length === 0">
  No lectures available
</p>

<!-- LIST -->
<div *ngIf="!loading && lectures.length > 0">
  <div *ngFor="let lec of lectures" style="border:1px solid #ddd; padding:12px; margin-bottom:10px; border-radius:8px;">
    <h3>{{ lec.title }}</h3>

    <p>📘 Subject: {{ lec.subject }}</p>
    <p>👩‍🏫 Faculty: {{ lec.faculty }}</p>
    <p>📄 Type: {{ lec.type | uppercase }}</p>

    <a *ngIf="lec.fileUrl"
       [href]="lec.fileUrl"
       target="_blank">
       Open Lecture
    </a>

    <p *ngIf="!lec.fileUrl">No file attached</p>
  </div>
</div>
