.emoji-picker-container {
  position: absolute;
  bottom: 52px;
  left: 0;
  z-index: 9999;
  box-shadow: 0 -4px 24px rgba(0,0,0,0.3);
  border-radius: 12px;
  overflow: hidden;
  width: 340px;
}

.emoji-picker-container emoji-mart {
  width: 340px !important;
  border-radius: 12px !important;
}
